div.swal2-popup {
  padding: 30px 10px 12px;
  width: 340px;
  min-height: 190px;
  background-color: #ffffff;
}

div.swal2-html-container#swal2-html-container {
  font-size: 13px;
  font-weight: 400;
  color: #ababab;
  text-align: center;
  margin: 0;
}

div.swal2-icon {
  margin: 0 auto;
}

h2.swal2-title {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

div.swal2-validation-message {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: 'Arial';
  word-break: break-word;
}

div.swal2-actions {
  width: 100%;
}

button.swal2-styled {
  width: 130px;
  height: 40px;
  border-radius: 10px;
}

button.swal2-styled.swal2-confirm {
  background-color: #b780db;
}

button.swal2-styled.swal2-confirm:focus {
  box-shadow: 0 0 0 3px #b780db40;
}

button.swal2-styled.swal2-cancel {
  background-color: #cfcfcf;
}

button.swal2-styled.swal2-cancel:focus {
  box-shadow: 0 0 0 3px #cfcfcf40;
}
